.main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
   
}
.cardProfile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 500px;
    margin: auto;
    text-align: center;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }