
.container {
    background-color: #ECEEF2;
    width:100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

h1{
    color: #FFFFFF;
    /* text-align: center; */
   
}

.innerBox{
width: 35vw;
height: 65vh;
background-color: #FFFFFF;
border: 1px solid black;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.281);
align-items: center;
justify-content: center;
}