.outer{
    display: flex;
    align-items: center;
    justify-content: center;

    .inner{
        width: 60vw;
        height: 80vh;
    }

}

.error {
    position: absolute;
    color: red;
    font-family: .6rem;
}
